@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

* {
    font-family: 'Kurale', serif;    
    box-sizing: border-box;
    line-height: 20px;
    background-image: url("./images/glitter.png");
} 

.border {
    border-style: solid;
}

.center {
    text-align: center;
}

 .flex {
 display: flex;
 }

.margin {
    margin-top: 10px;
}

#sidebar {
    left: 10;
    width: 180px;
    min-width: 180px;
    /* height: 100vh; */
    overflow-x: hidden;
    padding: 10px;
}

#weather-view {
    margin: 10px;
}

.background-color {
    background-color: rgb(246, 246, 246);
}

.column {
    column-count: 5;
    column-gap: 30px;
    /* column-rule-style: solid; */
    flex-wrap: wrap;
    display: inline-flex;
}

.s {
    color: rgb(148, 148, 212);
    
}

@media screen and (max-width: 992px) {body}